<div class="page-container">
  <nz-card [nzTitle]="cardTitle" [nzBordered]="true" class="upload-card">
    <ng-template #cardTitle>
      <div class="card-title">
        <i nz-icon nzType="scissor" nzTheme="outline"></i>
        <span>Editor de imágenes</span>
      </div>
    </ng-template>
    
    <!-- upload image area -->
    <div class="upload-area" *ngIf="!croppedImage">
      <nz-upload
        [nzBeforeUpload]="beforeUpload"
        [nzShowUploadList]="false"
        [nzAccept]="'image/*'"
        class="upload-component"
      >
        <div class="upload-content">
          <i nz-icon nzType="picture" nzTheme="outline" class="upload-icon"></i>
          <p class="upload-text">Haga clic o arrastre una imagen aquí</p>
          <p class="upload-hint">Soporte para JPG, PNG o GIF (max: 5MB)</p>
          <button nz-button [nzType]="'primary'" class="upload-button">
            <i nz-icon nzType="upload"></i>
            Seleccionar imagen
          </button>
        </div>
      </nz-upload>
    </div>

    <!-- crop image preview -->
    <div class="preview-area" *ngIf="croppedImage">
      <div class="preview-image">
        <img [src]="croppedImage" alt="Vista previa">
      </div>
      <div class="action-buttons">
        <button nz-button nzType="default" (click)="downloadCroppedImage()" nzShape="round">
          <i nz-icon nzType="download"></i>
          Descargar
        </button>
        <button nz-button [nzType]="'primary'" (click)="resetImage()" nzShape="round">
          <i nz-icon nzType="reload"></i>
          Seleccionar otra imagen
        </button>
      </div>
    </div>
  </nz-card>
</div>

<!-- modal -->
<nz-modal
  [(nzVisible)]="isModalVisible"
  [nzTitle]="modalTitle"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="900"
  [nzCentered]="true"
  [nzClosable]="true"
  [nzMaskClosable]="false"
  [nzBodyStyle]="{ padding: '24px' }"
>
  <ng-template #modalTitle>
    <div class="modal-title">
      <i nz-icon nzType="scissor" nzTheme="outline"></i>
      <span>Recortar imagen</span>
    </div>
  </ng-template>
  
  <ng-container *nzModalContent>
    <div class="cropper-layout">
      <div class="cropper-container">
        <image-cropper
          #cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="aspectRatio !== null"
          [aspectRatio]="aspectRatio || 1"
          [resizeToWidth]="800"
          [onlyScaleDown]="false"
          [roundCropper]="false"
          [canvasRotation]="rotation"
          [transform]="{ scale: scale }"
          [alignImage]="'center'"
          format="png"
          (imageCropped)="imageCropped($event)"
          (loadImageFailed)="loadImageFailed()"
          class="custom-cropper"
        ></image-cropper>
      </div>
      
      <!-- side pannel -->
      <div class="controls-panel">
        <div class="control-section">
          <h4 class="control-title">Zoom</h4>
          <div class="control-buttons">
            <button nz-button nzType="default" nzShape="circle" (click)="zoomOut()">
              <i nz-icon nzType="zoom-out"></i>
            </button>
            <nz-slider 
              [nzMin]="50" 
              [nzMax]="200" 
              [nzStep]="5" 
              [nzDefaultValue]="100" 
              (nzOnAfterChange)="zoomChange($event)"
              [ngModel]="scale * 100"
              class="zoom-slider"
            ></nz-slider>
            <button nz-button nzType="default" nzShape="circle" (click)="zoomIn()">
              <i nz-icon nzType="zoom-in"></i>
            </button>
          </div>
        </div>
        
        <div class="control-section">
          <h4 class="control-title">Rotación</h4>
          <div class="control-buttons">
            <button nz-button nzType="default" nzShape="circle" (click)="rotateLeft()">
              <i nz-icon nzType="rotate-left"></i>
            </button>
            <button nz-button nzType="default" nzShape="circle" (click)="rotateRight()">
              <i nz-icon nzType="rotate-right"></i>
            </button>
          </div>
        </div>
        
        <div class="control-section">
          <h4 class="control-title">Proporción</h4>
          <div class="ratio-buttons">
            <nz-radio-group [ngModel]="aspectRatio" (ngModelChange)="changeAspectRatio($event)">
              <label 
                *ngFor="let ratio of aspectRatios" 
                nz-radio-button 
                [nzValue]="ratio.value"
              >
                {{ ratio.label }}
              </label>
            </nz-radio-group>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">
      <i nz-icon nzType="close-circle" nzTheme="outline"></i>
      Cancelar
    </button>
    <button nz-button nzType="primary" (click)="handleOk()">
      <i nz-icon nzType="check-circle" nzTheme="outline"></i>
      Aplicar
    </button>
  </ng-template>
</nz-modal>